@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.prose section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.prose pre > code {
  font-family: "Geist Mono", monospace;
  background-color: rgb(30, 41, 59);
  border-radius: 0.5rem;
  padding: 0.75rem 0.25rem;
  overflow-x: auto;
  scrollbar-width: none;
  display: grid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.prose code {
  font-family: "Geist Mono", monospace;
  background-color: #f3f4f6;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25em;
}

.prose code::-webkit-scrollbar {
  display: none;
}

.prose pre::-webkit-scrollbar {
  display: none;
}

.prose pre span[data-line] {
  @apply inline-block px-4 py-0.5 leading-snug;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-white text-gray-900;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
  }
  a {
    @apply underline decoration-gray-300 underline-offset-2 hover:decoration-gray-900 transition-colors;
  }
}
